:root {
	font-family: "PT sans", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 10px;
	color-scheme: light dark;
	color: var(--white);
	background-color: var(--black-dark);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--max-width: 1440px;
	--max-grid-size: min(100vw, var(--max-width));
	--grid-columns-number: 52;
	--grid-color: #aaa8;

	--white-light: #edf6f8;
	--white: #daedf1;
	--white-dark: #b6dae2;

	--black-light: #18393e;
	--black: #2b2b2b;
	--black-dark: #0F0F0F;


	--primary-light: #117888;
	--primary-light-shade: #11788888;
	--primary: #0b505b;
	--primary-shade: #0b505b88;
	--primary-dark: #06282d;
	--primary-dark-shade: #06282d88;

	--secondary-light: #9a329a;
	--secondary-light-shade: #9a329a88;
	--secondary: #5c1e5c;
	--secondary-shade: #5c1e5c88;
	--secondary-dark: #270c27;
	--secondary-dark-shade: #270c2788;

	--tertiary-light: #99fdff;
	--tertiary-light-shade: #99fdff88;
	--tertiary: #00fbff;
	--tertiary-shade: #00fbff88;
	--tertiary-dark: #00c9cc;
	--tertiary-dark-shade: #00c9cc88;

	--gray: #9a9a9a;
	--gray-light: #e9e9e9;
	--gray-dark: #454545;

	--success: #2dd36f;
	--success-dark: #28ba62;
	--success-light: #42d77d;

	--danger: #eb445a;
	--danger-dark: #cf3c4f;
	--danger-light: #ed576b;
	--glass-dark: #4b4b4b88;
	--glass: #8a8a8a88;
	--glass-light: #abababaa;
}

body {
	margin: 0;
	box-sizing: border-box;
	min-height: 100dvh;
	overflow-x: hidden;
}

body *::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
}

.mainTitle {
	font-family: "Martian Mono", serif;
}

.menu,
.menu * {
	font-family: "Oxygen", sans-serif;
}

html * {
	font-size: 1.8rem;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}

.title {
	font-size: 4.5rem !important;
}

.sub-title {
	font-size: 3.2rem !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin-top: 0;
	margin-bottom: 0;
}

h1>*,
h2>*,
h3>*,
h4>*,
h5>*,
h6>*,
p>*,
span>* {
	font-size: inherit;
}


@keyframes changeradiusMin {
	0% {
		left: 2%;
		top: 17%;
		border-radius: 58% 42% 42% 58% / 44% 53% 47% 56%;
	}

	12% {

		top: 25%;
		left: 4%;
	}

	25% {
		top: 13%;
		border-radius: 44% 56% 49% 51% / 58% 45% 55% 42%;
	}

	37% {
		top: 10%;

	}

	50% {
		top: 17%;
		left: 0%;
		border-radius: 61% 39% 41% 59% / 53% 53% 47% 47%;
	}

	63% {
		top: 22%;
	}

	75% {
		top: 10%;
		left: 4%;
		border-radius: 44% 56% 49% 51% / 58% 45% 55% 42%;
	}

	88% {
		top: 10%;
		left: 0%;
	}

	100% {
		left: 2%;
		top: 17%;
		border-radius: 58% 42% 42% 58% / 44% 53% 47% 56%;
	}
}

@keyframes changeradiusMid {
	0% {
		left: 0%;
		top: 13%;
		border-radius: 58% 42% 42% 58% / 44% 53% 47% 56%;
	}

	12% {

		top: 16%;
		left: 7%;
	}

	25% {
		top: 13%;
		border-radius: 44% 56% 49% 51% / 58% 45% 55% 42%;
	}

	37% {
		top: 16%;

	}

	50% {
		top: 13%;
		left: -2%;
		border-radius: 61% 39% 41% 59% / 53% 53% 47% 47%;
	}

	63% {
		top: 16%;
	}

	75% {
		top: 13%;
		left: 7%;
		border-radius: 44% 56% 49% 51% / 58% 45% 55% 42%;
	}

	88% {
		top: 16%;
		left: -2%;
	}

	100% {
		left: 0%;
		top: 13%;
		border-radius: 58% 42% 42% 58% / 44% 53% 47% 56%;
	}
}

@keyframes changeradius {
	0% {
		left: 17%;
		top: 13%;
		border-radius: 58% 42% 42% 58% / 44% 53% 47% 56%;
	}

	12% {

		top: 16%;
		left: 20%;
	}

	25% {
		top: 13%;
		border-radius: 44% 56% 49% 51% / 58% 45% 55% 42%;
	}

	37% {
		top: 16%;

	}

	50% {
		top: 13%;
		left: 14%;
		border-radius: 61% 39% 41% 59% / 53% 53% 47% 47%;
	}

	63% {
		top: 16%;
	}

	75% {
		top: 13%;
		left: 17%;
		border-radius: 44% 56% 49% 51% / 58% 45% 55% 42%;
	}

	88% {
		top: 16%;
		left: 20%;
	}

	100% {
		left: 17%;
		top: 13%;
		border-radius: 58% 42% 42% 58% / 44% 53% 47% 56%;
	}
}

@keyframes mainRotation {
	0% {
		z-index: 999;
	}

	99% {
		z-index: 999;
	}

	100% {
		z-index: -1;
	}
}

@keyframes hexaShrink {
	0% {
		max-height: 101%;
		max-width: 101%;
	}

	100% {
		max-height: 70%;
		max-width: 70%;
	}
}

@keyframes hexaFullShrink {

	0% {
		max-height: 70%;
		max-width: 70%;
	}

	100% {

		max-height: 0%;
		max-width: 0%;
	}
}


@keyframes rotatefirst {
	0% {
		top: 26dvh;
		left: 55vw;
	}

	33% {
		top: 28dvh;
		left: 57vw;
	}

	66% {
		top: 29dvh;
		left: 52vw;
	}

	100% {
		top: 26dvh;
		left: 55vw;
	}

}

@keyframes rotatesecond {
	0% {
		top: 32dvh;
		left: 70vw;
	}

	33% {
		top: 36dvh;
		left: 68vw;
	}

	66% {
		top: 34dvh;
		left: 72vw;
	}

	100% {
		top: 32dvh;
		left: 70vw;
	}
}

@keyframes rotatethird {
	0% {
		top: 37dvh;
		left: 62vw;
	}

	33% {
		top: 34dvh;
		left: 59vw;
	}

	66% {
		top: 35dvh;
		left: 64vw;
	}

	100% {
		top: 37dvh;
		left: 62vw;
	}
}

@keyframes titleUp {

	0% {
		/* top: calc(50% - var(--max-grid-size) / var(--grid-columns-number)* 2); */
		top: 0;
		opacity: 1;
		transform: rotateX(0);
	}
	25%{
		/* top: calc(48% - var(--max-grid-size) / var(--grid-columns-number)* 2); */
		top: -2%;
	
	}
	80%,
	100% {
		top: -10%;
		opacity: 0;
		transform: perspective(600px) rotateX(90deg);
	}
}


@keyframes titleDown {
	
	0% {
		top: calc(50% - 1px);
		opacity: 1;
		transform:rotateX(0);
		
	}
	25%{
		top: 52%;
	}
	80%,
	100% {
		top: 70%;
		opacity: 0;
		transform: perspective(600px) rotateX(-90deg);
	}
}

@keyframes appear {
	
	0%	
	{
		
		opacity: 0;
		
	}

	
	100%  {
		
		opacity: 1;
		
	}
}
@keyframes upandDown {
	0%	
	{
		
		top: 0;
		
	}

	
	50%  {
		
		top: -20px;
		
	}
	100%  {
		
		top: 0px;
		
	}
}
